<head>
<link rel="stylesheet" href="/../.tmp/normalize.css">
<link rel="stylesheet" href="./skeleton.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
	<div id="app"></div>
	</div>
<script src='../.tmp/app.js'></script>

</body>
